*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
.sun{
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgb(255,162,0);
    border-radius: 50%;
    box-shadow: 0 0 30px white;
}

.axis1{
    animation-name: anime_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    height: 400px;
    width: 400px;
    border-right: 2px solid white;
    border-radius: 50%;
}



@keyframes anime_1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.axis1 .earth{
    animation: anime_2 1.5s linear infinite;
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgb(62, 62, 192);
    border-radius: 50%;
    left: 180px;
    top:370px;
}

@keyframes  anime_2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}