*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

.sun{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    box-shadow: 0 0 75px rgb(226, 129, 19);
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.earth{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    background: rgb(14, 47, 101);
    box-shadow: 0 0 40px rgb(23, 144, 181);
    animation: orbit 35.6s linear infinite;
}
.earth::after{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: aqua;
    box-shadow: 0 0 40px white;
    animation: moon-orbit 3s linear infinite;
}

@keyframes orbit {
    from{
        transform: rotate(0deg) translateX(220px) rotate(0deg);
    }
    to{
    transform: rotate(360deg) translate(220px) rotate(360deg);
    }
    
}

@keyframes moon-orbit {
    from{
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to{
    transform: rotate(360deg) translate(70px) rotate(360deg);
    }
    
}